.search {
  display: flex;
  width: 100%;
  margin: 50px 0 30px;
  &_input {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    font-size: 17px;
    line-height: 50px;
    color: #333;
    font-weight: 600;
    outline: 0;
    border: 0;
    letter-spacing: .005em;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: 0 0 2px rgba(34,38,46,.12), 0 2px 2px rgba(34,38,46,.16);
    box-shadow: 0 0 2px rgba(34,38,46,.12), 0 2px 2px rgba(34,38,46,.16);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 49px;
    min-width: 90px;
    color: #fff;
    font-size: 17px;
    line-height: 51px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: none;
    white-space: normal;
    letter-spacing: .005em;
    padding: 0;
    border: 0;
    outline: 0;
    background: #e21e35;
    -webkit-box-shadow: 0 2px 1px #c20017;
    box-shadow: 0 2px 1px #c20017;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
    &:hover, &:active, &:focus {
      background: #bf0016;
      -webkit-box-shadow: 0 2px 1px #9e0012;
      box-shadow: 0 2px 1px #9e0012;
    }
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      margin-right: 5px;
      background: url('../icons/search_icon.svg') center no-repeat;
      position: relative;
      top: -2px;
    }
  }
}